* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    --main-blue: rgb(0, 128, 255);
    --light-blue: rgb(125, 180, 247);
    --dark-blue: rgb(0, 49, 109);
}


body {
    font-family: "Google Sans", sans-serif;
    background-color: white;
}

header {
    background-color: var(--light-blue);

    .logo {
        text-align: center;
        padding: 20px 0;

        h1 {
            font-size: 2em;
            color: rgb(0, 0, 0);
            width: 100%;
        }
    }

    #navbar-toggler {
        display: none;
        width: 60px;
        height: 40px;

        span {
            background-color: var(--dark-blue);
            display: block;
            height: 4px;
            margin: 8px 0;
            border-radius: 2px;
            transform: rotate(0deg);
            transition: top 0.6s 0.3s ease, transform 0.6s 0s ease, opacity 0.6s 0s ease;
            position: relative;
            top: 0;
            opacity: 1;

        }

        &.open {
            span:first-child {
                transform: rotate(45deg);
                top: 12px;
                transition: top 0.6s 0s ease, transform 0.6s 0.3s ease;
            }

            span:nth-child(2) {
                opacity: 0;
            }

            span:nth-child(3) {
                transform: rotate(-45deg);
                top: -12px;
                transition: top 0.6s 0s ease, transform 0.6s 0.3s ease;
            }
        }

        @media (max-width: 870px) {
            display: block;
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
        }
    }

    nav {
        background-color: var(--main-blue);

        @media (max-width: 870px) {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.6s ease;

            &.open {
                max-height: 700px;
            }
        }

        ul {
            list-style-type: none;
            display: flex;
            justify-content: center;

            @media (max-width: 870px) {
                display: block;
                text-align: center;
            }

            li {
                a {
                    display: block;
                    padding: 5px 15px;
                    background-color: var(--main-blue);
                    color: white;
                    text-decoration: none;
                    font-size: 1.4em;

                    @media (max-width: 870px) {
                        font-size: 1.8em;
                        padding: 10px 15px;
                    }

                    &:hover {
                        background-color: var(--dark-blue);
                    }
                }
            }
        }
    }
}

main {
    padding: 20px;
    max-width: 870px;
    margin: 0 auto;

    h1 {
        font-size: 2.5em;
        color: rgb(255, 255, 255);
        margin-bottom: 10px;
        text-align: center;
    }


    .slideshow-section {
        height: 500px;
        background-color: #fff;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 500px;
        position: relative;

        .slide {
            position: absolute;
            overflow: hidden;
            height: 100%;
            width: 100%;
            z-index: -1;

            h2 {
                color: #000;
            }

            &.active {
                z-index: 1;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .slide-select-buttons {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            gap: 10px;
            z-index: 100;

            .slide-select-button {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: rgba(255, 0, 0, 0.7);
                border: none;
                cursor: pointer;

                &.active {
                    background-color: rgb(0, 119, 255);
                }
            }
        }
    }

    section {
        border-radius: 15px;
        background-color: var(--main-blue);
        padding: 20px;
        margin-bottom: 20px;

        h2 {
            text-align: center;
            color: #fff;
        }

        .car-content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;

            div {
                background-color: #fff;
                padding: 15px;
                margin-top: 15px;
                border-radius: 10px 0 0 10px;

                p {
                    line-height: 1.5;
                }

                ul {
                    padding: 15px;
                    margin-left: 20px;
                    margin-right: 10px;

                    li {
                        font-size: 0.8em;
                        padding: 7px 0;
                    }
                }
            }


            .car-image {
                margin-top: 15px;
                width: 100%;
                max-height: 360px;
                object-fit: cover;
                border-radius: 10px;
                border: 4px solid #fff;
            }
        }
    }
}

footer {
    background-color: var(--light-blue);
    text-align: center;
    padding: 10px 0;

    p {
        font-size: 1em;
        color: rgb(0, 0, 0);
    }
}